header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background: transparent;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > a {
      display: inline-block;
      color: $white;
      font-size: 2.4rem;
      font-weight: bold;
      cursor: default;

      @include animate('slideRight', 0.5s, 0.2s);
    }

    .menu-icon {
      font-size: 3.6rem;
      color: $white;
      display: none;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 24px;

      a {
        color: $white;
        font-weight: bold;

        $delay: calc(0.1s * var(--i));
        @include animate('slideTop', 0.5s, $delay);

        transition: color 0.5s;

        &:hover, 
        &.active {
          color: $lightblue
        }
      }
    }
  }
}