* {
  padding: 0;
  margin: 0;
  
  &::before,
  &::after {
    box-sizing: inherit;
  };
  color: $white;
  
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @include onMobile {
    font-size: 56%;
  }
}

html,
body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

input, 
textarea {
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
}

body {
  font-size: 1.6rem;
  background: $darkblue;
  overflow: overlay;
}

section {
  min-height: 100vh;
}
.container {
  margin: auto;
  width: 100%;
  max-width: 110rem;
  padding: 0 10px;
  height: 100%;
}
